<div class="banner">
  <%# <% image_tag "banner.jpg", alt: "banner-img"%>
  <div class="container">
    <h1 class="fs-1 fw-bold">The Movie Collector</h1>
    <p class="ms-2"> order your movies in custom lists</p>
      <div class="col-10">
      <%= link_to 'Add a new list', new_list_path, class: 'btn btn-outline-success p-3 rounded'  %>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row justify-content-center">
    <% @lists.each do |list| %>
      <div class="card col-6 rounded m-2 p-2 bg-light" style="width: 18rem;">
      <div class='list-img' >
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key,height: 300, width: 400, crop: :fill, class: "card-img-top" %>
        <% else %>
          <%= image_tag list.movies[0].poster_url class: "card-img-top" %>
        <% end %>
      </div>

  <div class="card-body">
    <h5 class="card-title"><%= list.name.capitalize %></h5>
    <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>

  <ul class="list-group list-group-flush">
    <% list.movies.each do |movie| %>
      <li class="list-group-item"><%= movie.title %></li>
    <% end %>
  </ul>

  </div>
  <%= link_to 'details', list_path(list), class: 'btn btn-outline-primary w-100'  %>
</div>
    <% end %>
  </div>
</div>
